@import "../node_modules/laydate/laydate/skins/default/laydate.css";
/* -------------------------------- *\
   RESET
\* -------------------------------- */


html, body{
	height: 100%;
	margin: 0;
	padding: 0;
}

.hide{
	display: none;
}





/* -------------------------------- *\
   RESET LAYDATE
\* -------------------------------- */


.layui-laydate-content td{
	border-radius: 10px;
}

.layui-laydate-content tr{
	height: 10vw !important;
}

.layui-laydate-content td, .layui-laydate-content th{
	padding: 0 !important;
	width: 10vw !important;
	height: 10vw !important;
}





/* -------------------------------- *\
   DATEPICKER
\* -------------------------------- */


.datePicker{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 80%;
	max-width: 400px;
	border: 10000px solid rgba( 0, 0, 0, .5 );
	transform: translate( -50%, -50% );
}

	.datePicker-header{
		overflow: hidden;
		height: 21.33vw;
		padding: 4.1vw 4.83vw;
		color: #fff;
		background: #5FB878;
		box-sizing: border-box;
	}
	
		.datePicker-header > p{
			width: auto;
			margin: 0;
			line-height: 1;
		}
		
		.datePicker-header > p.datePicker-show-year{
			font-size: 3.38vw;
		}
		
		.datePicker-header > p.datePicker-show-day{
			margin-top: 1.44vw;
			font-size: 6.28vw;
		}
	
	
	.datePicker-footer{
		padding: 4.83vw;
		text-align: right;
	}
	
		.datePicker-footer > a{
			margin: 0 2.41vw;
			color: #009688;
			text-decoration: none;
		}
	
	
	.datePicker-content{}
	
		.datePicker-content-select{
			width: 100%;
		}
		
			.datePicker-content-select > .layui-laydate{
				width: 100%;
				border: none;
				box-shadow: none;
			}
			
				.datePicker-content-select > .layui-laydate > .layui-laydate-main{
					width: 100%;
				}
				
					.datePicker-content-select .laydate-prev-y,
					.datePicker-content-select .laydate-next-y{
						display: none;
					}
					
					.datePicker-content-select .layui-laydate-header i.laydate-prev-m{
						left: 7.24vw;
					}
					
					.datePicker-content-select .layui-laydate-header i.laydate-next-m{
						right: 7.24vw;
					}
					
					.datePicker-content-select .layui-laydate-content table{
						width: 100%;
					}
